.shop-title, .currency-btns{
    text-align: center;
    margin-top: 50px;
}

.product-card {
    text-align: center;
}

.total-section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-title{
margin-right: 8px;
}

.price{
    margin-left: 5px;
}

